@import 'primeicons/primeicons.css';

@tailwind base;

@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.p-datatable-thead{
    @apply text-xs;
}

.p-datatable-column-title, .p-datatable-tbody > tr > td  {
    text-align: center !important;
}
.p-datatable-column-header-content{
    flex-direction: column;
}

.p-datatable-popover-filter {
    margin-left: unset !important;
}

.p-inputtext{
    width: 100% !important;
}
